/* eslint-disable */

/* GLOBAL STYLES */
@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaRegular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaLight.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaBold.woff);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#__next {
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.33 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #17192D inset;
  transition: background-color 5000s ease-in-out 0s;
}